@import-normalize;
/* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h3 {
  font-size: 15px;
}

h3:hover,
h3:focus {
  color: orange;
  background-color: #fff;

}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}